torchaudio
torchvision==0.8.2
dgl==0.3
gym==0.14.0
ipykernel==5.5.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.6.3
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.3.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.3.2
networkx==2.5
notebook==6.3.0
numpy==1.19.2
numpy-stl==2.10.1
opencv-python==4.5.1.48
pandas==1.1.2
Pillow==8.4.0
protobuf==3.8.0
pygame==1.9.6
python-dateutil==2.8.1
python-utils==2.3.0
scikit-learn==0.24.1
scipy==1.5.2
seaborn==0.11.0
sklearn==0.0
sniffio==1.2.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==1.8
torch==1.7.1
xgboost==1.1.1